.switch2::before {content: "◐";display: block;font-size: 50px;}
.switch1::before {content: "";display: block;font-size: 50px;}

.theme_switch {cursor:pointer;background:transparent;position:fixed;bottom: 50px;left: 50px;z-index: 4;font-size: 25px;}